.task-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    text-align: center;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 7px;
}